* {
	box-sizing: border-box;
}
header, section, footer, aside, article {
	display: block;
/*	height: auto;         */
}                             
body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
/*	width: 100%;         */
	}

/*a {
	text-decoration: none;	
	width: 16px;
	height: auto;       }      */
   
ul.li {
	float: left;
} 

nav {
/*	position: relative;      */
/*	width: 200px;                     */
/*	top: 0px;
	left: 40px;						*/
	position: relative;
	text-decoration: none;           
	display: inline;
/*	list-style:none;      */
/*	padding: 5px;   */
	float: left;                   
	background-color: white; 
}
/* p {
	float: left; */
}        
h1 {
	font: 30px;
	margin-left: 100px;
/*	width: 50px;            */
}
/*header {
	float: left;
}       */
#content-area {
	position: relative;            
	background-color: #ffffff;             
/*	auto is left right and bottom     */
/*	position: absolute;		*/
	margin: 10px auto;           
	text-align: center;
/*	width: 68%;         */
	width: 960px;
	height: auto;
	border: 1px solid black;
/* anything in our website is a block element; 
	and do place it side to side */
/*	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex: 1;          */
/* -webkit-box-flex: 01; not flexible;  */
}

/*.selected {
/*	padding: 5px;            
	display: inline-block;
	width: 100px;
} 					*/
#header-and-nav {
/*	width: 68%;	 */
/*	width: 960px;  */
/*	float: left;           */
	border-color: #cccccc;
	padding: 10px;
/*	position: absolute;       
	left: 0px;
	top: 0px;
	z-index: -1;            */
/*	left: 30px;
	top: 30px;             */
	border: 1px dashed black; 
	
}
.top-header {
	position: relative;           
/*	top: 0px;              
	left: 50px;              */
	display: inline-block;
	background-color: #4aaaa5; 
	float: left;
	color: white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border: 1px black; 
	padding: 2px;
/*	margin: 1px 35px 0px 25px; */

/*	width: 500px;
	position: absolute;
	left: 30px;
	top: 30px;     */
}
header {
	float: left;
}
/*.paras {
	display: inline-block;
} */
.main-grey-matter {
/*	display: inline-block;          */
	clear: both;       
/*	overflow: auto;      stay in container  */
/*	float: left;      */
/*	position: relative;        */
	/*	top: 0px;
	left: 0px;                         */
/*	width: 270px;           */
/*	width: 650px;            */
	width: 43.333%;
	width: 100%;
/*	height: 100%;            */
	z-index: -1;
/*	margin:400px;       /* 960  */
	border: 5px solid black;         
	background-color: grey;
}
/*.small {
	width: 450px;
	height: auto;
	padding: 3px;
}       */
.aboutme-bio {
/*	overflow: auto;               */
	position: relative;                 
	width: 350px;
	height: auto;
	margin-left: 5px;
	top: 50px;
	left: 20px;					*/
/*	display: inline;           */
	float: left;
	text-align: left;
/*	width: 650px;          */
	border: 1px solid black;
	background-color: #ffffff;            
}
article {
	float: left;
}

.art-1 {
	float: left;
	display: inline-block;
	border: 5px solid orange;


/*	width: 596px;      */
/*	padding: 20px orange;         
/*	border: 1px solid orange;       */
}

#bio-image {
/*	position: absolute;  */
/*	float: left;           */
/*	display: inline-block;          */
}
.description {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 20px;
/*	float: left;      */
}

aside {
	float: right;
}
.connect-me-box {
	position: relative;        
/*	float: left;     */
/*	top: 0px;
	left: 550px;  */
	width: 270px;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
		clear: both;
}

.footer-tag {
/*	float: bottom;             */
/*	position: relative;      */
	clear: both;
/*	bottom: 0px;
	left: 0px;                   */
	border: 1px solid black;
	font-size: 8px;
	padding: 20px 20px 20px 20px;
	background-color: #666666;
	text-align: center;
	color: white;
}
.portfolio-whole {

}

.project {
/*	display: inline-block;     */
	} 
.proj-image{
	position: relative;
	display: inline-block;
}
.proj-title {
	position: absolute;
	bottom:3px;
	left:0;
	padding: 10px;
	display: inline-block;
}